<!-- <h2>Total records</h2>
<p>{{total}}</p>
<h2>Selected</h2>
<p>{{selected}}</p>
<button (click) ='revert()'>REVERT</button> -->
<div style="text-align: center">
    <span>
        <h2><i class="fa fa-calculator"></i> Custom Stats</h2>
        <dl style="font-size: large; padding: 30px 40px 10px 30px">
            <dt>Total records: <b>{{total}}</b></dt>
            <dt>Total selected: <b>{{selected}}</b></dt>
        </dl>
    </span>
    <button (click)='revert()'>Revert selection</button>
</div>