<p>grid-component works!</p>
<ag-grid-angular style="width: 100%; height: 1000px;" class="ag-theme-balham" [rowData]="gridData"
    [columnDefs]="columnHeaders"  
    (gridReady)="onGridReady($event)"
    [getRowHeight]="getRowHeight"
    (gridReady)="onGridReady($event)"
    (cellClicked) = 'cellClickHandler($event)'
    row-selection="multiple"
    [getContextMenuItems]="getContextMenuItems"
    [gridOptions] ='gridOptions'
    > </ag-grid-angular>